@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

body, html{
    width: 100%;
    height: 100%;
}


header{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 2rem;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display: none;
    background: #444;
    color: white;
}


header h1{
    font-size: 1.2rem;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}


header h1 .acronym-title {
    display: none;
}


@media (max-width: 25rem){
    header h1 .acronym-title {
        display: inline-block;
    }

    header h1 .full-title {
        display: none;
    }
}