@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html, body {
    background: white;
}


.content{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
    font-family: 'Roboto', sans-serif;
}

.content input{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.content .toolbar-container{
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: row;
    flex-wrap:  nowrap;
    justify-content: flex-start;
    background: #CCC;
    padding: 0.5rem;
}

.content .toolbar-container button{
    width: 5rem;
}

.content .charts-div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.content .charts-div-bottom{
    height: 30rem;
}

.content .charts-div-top{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 1rem;
}



.content .charts-div-top .radar-div{
    width: 40%;
    display: flex;
    align-items: center;
    /* position: relative; */
    /* width: 50rem; */
    /* margin: auto; */
}


.content .charts-div .horizontal-div{
    width: 60%;
    display: flex;
    align-items: center;
    /* position: relative; */
    /* width: 50rem; */
    /* margin: auto; */
}