@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

body, html{
    width: 100%;
    height: 100%;
}


header{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 1.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #777;
    color: white;
}


header h1{
    font-size: 1.2rem;
    font-family: 'Archivo', sans-serif;
}